<!-- Signing In Bar -->
<% if @user %>
	<h1>Welcome, <a href="/users/<%=@user.id%>"><%=@user.username%></a></h1>
	<a href="/users/sign_out">sign out</a>
<% else %> 
	<a href="/users/sign_up">sign up</a>
	<a href="/users/sign_in">sign in</a>
<% end %>


<!-- Write a Post -->
<% if @user %>
<form action="/posts" method="post">
	<label for="title">Title:</label>
	<input type="text" name="title">
	<input type="radio" name="language" value="text">Plain Text</input>
	<input type="radio" name="language" value="ruby">Ruby</input>
	<textarea name="body" cols="70" rows="10"></textarea>
	<input type="submit">
</form>
<hr>
<% end %>


<!--Display All the Posts-->
<% @posts.each do |post| %> 
	<div class="post">
		<h1><%= post.title %></h1>
		<p class="italics" >User: <%= post.user.username %></p>
		<p class="italics" >Created: <%= post.created_at.asctime %></p>
		<p class="italics" >Updated: <%= post.updated_at.asctime %></p>

		<div class= "body block_overflow">
			<% if post.language == "ruby" %>
				<% html = CodeRay.scan(post.body, :ruby).div(:line_numbers => :table) %>
				<%= html %>
			<% else %>
				<%= post.body %>
			<% end %>
		</div>

		<a href="/posts/<%=post.id%>/like">LIKE</a>

		<div class="comments">
			<% post.comments.each do |comment| %> 
				<p><%=comment.user.username%>: <%= comment.body %></p>
			<% end %>
		</div>

		<% if @user %>
			<div class= "new_comment">
				<form action="/posts/<%=post.id%>/comments" method="post">
					<textarea name="comment_text" id="" cols="40" rows="2"></textarea>
					<input type="submit">
				</form>
			</div>
		<% end %>
	</div>
<% end %>