<!-- Show All Posts the User has made -->
<a href="/">Home</a>
<h1 class="user">Posts <%= @user.username %> has made:</h1>

<table>
	<thead>
		<td>Title</td>
		<td>Cmds</td>
	</thead>	

	<tbody>
		<% @user.posts.each do |post| %>
		<tr>
			<td><%=post.title%></td>
			<td><a href="/users/posts/<%=post.id%>/view">View</a></td>
			<td><a href="/users/posts/<%=post.id%>/edit">Edit</a></td>
			<td><a href="/users/posts/<%=post.id%>/delete">Delete</a></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h1>Favorite Posts:</h1>
<table>
	<thead>
		<td>Title</td>
	</thead>	

	<tbody>
		<% @user.faves.each do |post| %>
		<tr>
			<td><%=post.title%></td>
			<td><a href="/users/posts/<%=post.id%>/view">View</a></td>
		</tr>
		<% end %>
	</tbody>
</table>